.container {
  height: 400px;
  width: 400px;
  background-color: rgb(163, 172, 180);
  position: relative;
  overflow: hidden;
}

.circle-big {
  position: absolute;
  left: -91px;
  top: -103px;
  width: 316px;
  height: 316px;
  border-radius: 50%;
  background-color: darkgreen;
}
.circle-small {
  position: absolute;
  left: 223px;
  top: 136px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aquamarine;
}

.rectangle-border-radius {
  position: absolute;
  width: 300px;
  height: 80px;
  border-radius: 30px;
  background-color: blueviolet;
  top: 268px;
  left: 49px;
  z-index: 1;
}

.rectangle {
  position: absolute;
  width: 305px;
  height: 47px;
  background-color: blue;
  transform: rotate(47deg);
  top: 152px;
  left: 44px;
}

.triangle {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 298px;
  border-bottom: 108px solid brown;
  border-left: 102px solid transparent;
}
